:root {
  --accent: #ff6c00;
  --main-font: 'Open Sans', sans-serif;
  --headline-font: 'Raleway', sans-serif;
  --dark-text: #303030;
  --subtitle-light: rgba(157, 164, 189, 0.6);
  --text-light: #9da4bd;
  --grey-bg: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headline-font);
  font-weight: bold;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

h1 {
  font-size: 72px;
  line-height: 1.81;
  letter-spacing: 0.05em;
  color: #ffffff;
  animation-duration: 1000ms;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 42px;
  line-height: 1.167;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

p {
  color: #555555;
}

.section {
  padding: 130px 0;
}

/* components  */

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.list-no-style {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.btn-modal-open {
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 20px;
  min-width: 164px;
  height: 40px;
  background: none;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  transition-duration: 250ms;
  transition-property: background-color, color;
}

.btn-modal-open.btn-modal-open-dark-text {
  color: var(--dark-text);
}

.btn-modal-open:hover {
  background-color: var(--accent);
  color: #fff;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links::before {
  content: '';
  display: block;
  margin-right: 40px;
  width: 60px;
  height: 1px;
  background-color: var(--dark-text);
}

.social-links li:not(:last-child) {
  margin-right: 40px;
}

.social-links a {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--dark-text);
  transition-duration: 250ms;
  transition-property: color;
}

.social-links a:hover {
  color: var(--accent);
}

.subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitle::before {
  content: '';
  display: block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
}

.subtitle-light {
  color: var(--subtitle-light);
}

.subtitle-light::before {
  background-color: var(--subtitle-light);
}

.subtitle-dark {
  color: var(--dark-text);
}

.subtitle-dark::before {
  background-color: var(--dark-text);
}

.section-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.section-text-light {
  color: var(--text-light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* /components  */

/* header  */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 32px 0;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .navigation {
  display: flex;
  align-items: center;
}

.header .navigation-logo {
  animation-delay: 1500ms;
  animation-duration: 1s;
  animation-iteration-count: 4;
  margin-right: 71px;
}

.navigation-logo svg {
  width: 70px;
  height: 56px;
}

.header .navigation-menu {
  display: flex;
  align-items: center;
}

.navigation-menu li {
  margin-right: 40px;
}

.navigation-menu li:last-child {
  margin-right: 0;
}

.header .address {
  margin-left: auto;
  margin-right: 40px;
}

.header a {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition-duration: 250ms;
  transition-property: color;
}

.header a:hover {
  color: var(--accent);
}

/* /header  */

/* HERO */

.hero .container {
  display: flex;
}

.hero .left {
  padding-left: 30px;
  padding-bottom: 40px;
  display: flex;
  align-items: flex-end;
  width: 100px;
}

.hero .left .social-links {
  transform: rotate(-90deg) translate(0, 100%);
  transform-origin: left bottom;
}

.hero .right {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url('./images/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 272px 100px 206px 100px;
  flex-grow: 1;
}

/* /HERO */

/* about */
.about .container {
  display: flex;
  align-items: center;
}

.about .about-list-pics {
  display: flex;
  align-items: center;
}

.about .about-list-pics img {
  width: 270px;
  height: 445px;
}

.about-list-pics li:not(:last-child) {
  margin-right: 30px;
}

.about .right {
  width: 500px;
  margin-left: 64px;
}

.about .btn-modal-open {
  margin-top: 40px;
}
/* /about */

/* services  */
.services {
  background-color: #111319;
  background-image: url('./images/bg-services.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.services h2 {
  color: #fff;
}

.services-list-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.services-list-wrapper ul {
  width: 50%;
  padding: 30px 40px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services-list-wrapper ul:nth-child(4n-1),
.services-list-wrapper ul:nth-child(4n-2) {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services-list-wrapper li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services span {
  font-size: 18px;
  line-height: 1.67;
  color: var(--text-light);
}

.services .btn-modal-open {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
/* /services  */

/* advantages  */
.advantages .container {
  display: flex;
  align-items: flex-start;
}

.advantages .left {
  display: flex;
  align-items: flex-start;
}

.advantages-list:first-child {
  margin-right: 30px;
}

.advantages-list li:not(:last-child) {
  margin-bottom: 30px;
}

.advantages-list:nth-child(2) li:first-child {
  margin-top: 33px;
}

.advantages .right {
  padding-left: 130px;
}

.advantages .left p {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--dark-text);
}

.advantages .left .count {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.05em;
  color: var(--dark-text);
}

.advantages .count sup {
  font-weight: normal;
  color: var(--accent);
}

/* /advantages  */

/* masters */
.masters {
  background-color: var(--grey-bg);
}
.masters h3 {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: var(--dark-text);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 8px;
}

.masters-cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.masters-cards p {
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent);
  text-align: center;
}

.master-icons {
  margin: 0 auto;
  margin-top: 30px;
  width: 270px;
  display: flex;
  justify-content: space-between;
}

.master-icons .master-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffffff;
}

.master-icons .master-svg-icon {
  width: 20px;
  height: 20px;
  transition-duration: 250ms;
  transition-property: fill;
}

.master-link:hover .master-svg-icon {
  fill: var(--accent);
}
/* /masters */

/* gallery */

.gallery ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* /gallery */

/* contacts */
.contacts-wrapper {
  background-color: #191c26;
  display: flex;
  align-items: flex-start;
}

.contacts-wrapper h2 {
  color: #fff;
}

.section-form {
  padding-left: 15px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}

.section-form .form-wrapper {
  width: 560px;
}

.contacts-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-form input {
  height: 23px;
}

.contacts-form textarea {
  height: 60px;
  margin: 44px 0;
  resize: none;
}

.contacts-form input,
.contacts-form textarea {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contacts-form input::placeholder,
.contacts-form textarea::placeholder {
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.contacts-form input:focus::placeholder,
.contacts-form textarea:focus::placeholder {
  color: #fff;
}

.contacts-form input:focus,
.contacts-form textarea:focus {
  outline: none;
  /* border-bottom: 1px solid #fff; ниже аналог */
  border-color: #fff;
}

.contacts-form-name {
  width: 270px;
}

.contacts-form-phone {
  width: 260px;
}

.contacts-form-message {
  width: 100%;
}

.contacts-form-btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 20px;
  min-width: 164px;
  height: 40px;
  background: none;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  transition-duration: 250ms;
  transition-property: background-color, color;
}

.contacts-form-btn:hover {
  background-color: var(--accent);
  color: #fff;
}

.contacts {
  padding-right: 15px;
  background-image: url('./images//bg-contacts.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 100px;
  width: 50%;
}

.contacts-address li:not(:last-child) {
  margin-bottom: 20px;
}

.contacts p,
.contacts-address,
.contacts-address a {
  font-size: 18px;
  line-height: 1.667;
  color: var(--text-light);
}

.contacts-address a:hover {
  color: var(--accent);
}

.contacts-address a[href^='mailto:'] {
  text-decoration: underline;
}

.contacts .work-time {
  margin-top: 70px;
  margin-bottom: 20px;
  /* color: #fff; */
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* /contacts */

/* footer */
.footer {
  padding: 56px 0;
  background-color: var(--grey-bg);
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer p {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--text-light);
}
/* /footer */

/* =======   MODAL   ======== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* способ 1 */
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
  /* /способ 1 */
}

.backdrop.is-hidden {
  display: none;
}

.backdrop .modal {
  position: relative;
  width: 528px;
  min-height: 350px;
  background: #fff;
  /* способ2 */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto; */
  /* /способ2 */
}

.modal-content {
  padding: 40px;
}

.modal-header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.backdrop .modal .close {
  cursor: pointer;
  padding: 3px 10px;
  border: 1px solid #000;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  font-weight: bold;
}

.backdrop .modal .close:hover {
  background-color: #000;
  color: #fff;
}

/* ====== modal-form ====== */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form label {
  display: block;
}

.modal-form label:not(:last-child) {
  margin-bottom: 10px;
}

.modal-input-wrapper {
  display: block;
  position: relative;
}

.modal-form input,
.modal-form textarea {
  width: 100%;
  color: #212121;
}

.modal-form input:focus,
.modal-form textarea:focus {
  outline: none;
  border: 1px solid blue;
}

.modal-form input {
  height: 40px;
  padding-left: 42px;
}

.modal-form textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.modal-form input:focus + .modal-input-icon {
  fill: blue;
}

.modal-form .modal-checkbox-label {
  display: flex;
  align-items: center;
  user-select: none;
}

.modal-checkbox-label::before {
  margin-right: 8px;
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  outline: 1px solid #212121;
}

.modal-checkbox:checked + .modal-checkbox-label::before {
  border: 4px solid #fff;
  background-color: cyan;
  /* outline: none;
  background-image: url('./images/icon-check.svg');
  background-repeat: no-repeat;
  background-size: cover; */
}

.modal-input-btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 200px;
  cursor: pointer;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.modal-input-btn:hover {
  opacity: 0.8;
}

/* ====== /modal-form ====== */

/* =======   /MODAL   ======== */
