* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headline-font;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

h1 {
  font-size: 72px;
  line-height: 1.81;
  letter-spacing: 0.05em;
  color: #ffffff;
  animation-duration: 1000ms;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 42px;
  line-height: 1.167;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

p {
  color: #555555;
}

.section {
  padding: 130px 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.list-no-style {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;

  &::before {
    content: '';
    display: block;
    margin-right: 20px;
    width: 60px;
    height: 1px;
  }

  &-light {
    color: $subtitle-light;

    &::before {
      background-color: $subtitle-light;
    }
  }

  &-dark {
    color: $dark-text;

    &::before {
      background-color: $dark-text;
    }
  }
}

.section-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  margin-bottom: 20px;

  &-light {
    color: $text-light;
  }
}
